
/* Basic reset and setting of frequently used elements*/

input:focus{
    all: unset;
    box-sizing: border-box;
}

select, select:focus{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    display: inline-block;
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
}

body{
    margin: auto;
    max-width: 1920px;
}

/* ------------------------------------------------------- */

/* ------------------------------------------------------- */

/* Utilities */

.wrapper-flex{
    display: flex;
    flex-wrap: nowrap;
}

.button{
    display: inline-block;
}

.section-heading{
    padding: 30px;
}

.container-empty{
    width: 100%;
    height: 60px;
}

/* ------------------------------------------------------- */

/* 
Button styles and behaviour
*/

.button-primary{
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: 15px;
    margin: 10px 0;
}

.button-secondary{
    cursor: pointer;
    height: 40px;
    width: 100%;
    border-radius: 15px;
    margin: 10px 0;
}

/* ------------------------------------------------------- */

/* Header elements */

.logo{
    margin: 0 1%;
}

header{
    z-index: 2;
    position: sticky;
    top: 0;
    width: 100%;
}

.header-container{
    display: flex;
    padding: 10px;
    position: relative;
}

.header-categories{
    display: flex;
    flex-wrap: nowrap;
    width: 20%;
    margin: auto 0;
}

.header-categories>h6{
    white-space: nowrap;
    margin: 0 10px;
}

.header-categories>h6:hover{
    transform: translateY(-5px);
}

.search{
    margin: auto 10px;
    display: flex;
}

.search-input, .search-button{
    margin: auto 0;
    display: inline-block;
}

.search-input{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0;
    height: 40px;
    width: 20vw;
    padding-left: 2%;
}

.search > input:focus{
    all: unset;
    box-sizing: border-box;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 0;
    height: 40px;
    width: 20vw;
    padding-left: 2%;
}

::placeholder {
    opacity: 1;
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.search-button{
    border-width: 0;
    height: 40px;
    width: 55px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;;
}

.header-icons{
    margin: 0 10px;
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* ------------------------------------------------------- */

/* Icons */
.icon-search-white{
    display: block;
    content: url(../icons/search-white.svg);
    width: 28px;
    height: 28px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.icon-search{
    content: url(../icons/search.svg);
    display: none;
}

.icon-menu{
    content: url(../icons/menu.svg); 
    display: none;
}

.icon-login, .icon-shopcart, .icon-search{
    margin: 5px 10px;
    width: 28px;
    height: 28px;
}

.icon-login{
    content: url(../icons/account_icon.svg);
}

.icon-shopcart{
    content: url(../icons/shopping_cart.svg);
}

.icon-facebook{
    content: url(../icons/facebook-icon.svg);
}

.icon-X{
    content: url(../icons/X-icon.svg);
}

.icon-plus{
    content: url(../icons/plus_icon.svg);
    display: inline-block;
    transform: translateY(2px);
    margin: 0 5px;
}

.icon-minus{
    content: url(../icons/minus.svg);
    display: inline-block;
    transform: translateY(2px);
    margin: 0 5px;
    margin-right: 10px;
}

.icon-decrement{
    content: url(../icons/decrement.svg);
    display: inline-block;
}

.icon-increment{
    content: url(../icons/increment.svg);
    display: inline-block;
}

.icon-delete{
    content: url(../icons/delete_24dp_FILL0_wght400_GRAD0_opsz24.svg);
    display: inline-block;
    padding: 5px;
}

.icon-close{
    content: url(../icons/close.svg);
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: auto 0;
}

.icon-filter{
    content: url(../icons/filter.svg);
    display: block;
    width: 24px;
    height: 24px;
    margin: auto;
    margin-top: 50%;
    transform: translateY(-50%);
}

.icon-next{
    content: url(../icons/next.svg);
    position: absolute;
    width: 14px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.icon-previous{
    content: url(../icons/previous.svg);
    position: absolute;
    width: 14px;
    height: 35px;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

/* ------------------------------------------------------------- */

/* 
Elements for the cover in the home page
*/
.cover{
    display: block;
}

.cover-mobile{
    display: none;
}

.home-top{
    margin: 0;
    position: relative;
}

.top-message{
    position: absolute;
    top: 3%;
    left: 5%;
}

.button-shopNow{
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 25vw;
    min-width: 110px;
    height: 5vw;
    min-height: 35px;
    border-radius: 10pt;
    margin: 0;
    border: 0;
    font-family: "Inria Serif", serif;
    font-weight: 400;
    font-style: normal;
}
/* ------------------------------------------------------------- */

/* Grid items for categories */
.Categories_row1{
    width: 960px;
    max-width: 90vw;
    display: grid;
    grid-template-rows: 210px 210px;
    grid-template-columns: 55% 45%;
    margin: auto;
}

.item1{
    border-top-left-radius: 50pt;
    grid-row: 1/3;
    grid-column: 1/2;
}

.item2{
    grid-row: 1/2;
    grid-column: 2/3;
}

.item3{
    grid-row: 2/3;
    grid-column: 2/3;
}


.Categories_row2{
    width: 960px;
    max-width: 90vw;
    display: grid;
    grid-template-rows: 210px 210px;
    grid-template-columns: 45% 55%;
    margin: auto;
}

.item4{
    grid-row: 1/2;
    grid-column: 1/2;
}

.item5{
    grid-row: 2/3;
    grid-column: 1/2;
}

.item6{
    grid-row: 1 / 3;
    grid-column: 2/3;
    border-bottom-right-radius: 50pt;
}

.category-container{
    padding-bottom: 40px;
}

.Categories_row2>div,
.Categories_row1>div{
    margin: 10px;
    padding: 4px;
}

.Categories_row2>div:hover,
.Categories_row1>div:hover{
    transform: translateY(-5px);
}

.Categories_row1>div>img,
.Categories_row2>div>img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
/* ----------------------------------------------------------- */

/* Horizontal scroll and the container for featured products */
.product-container{
    display: flex;
    flex-wrap: nowrap;
    padding: 0 20px;
    padding-bottom: 40px;
    width: 100%;
    overflow-x: scroll;
}

.product-container::-webkit-scrollbar{
    height: 10px;
}

.product-container::-webkit-scrollbar-thumb{
    border-radius: 4px;
}

.product-featured{
    width: 15%;
    height: 300px;
    margin: 10px 5px;
    padding: 3px;
    border-radius: 3px;
    min-width: 200px;
}

.product-featured:hover{
    transform: translateY(-5px);
}
/* ----------------------------------------------------------- */

/* Footer elements */
.footer-container{
    max-width: 960px;
    margin: auto;
    justify-content: space-around; 
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
}

.footer-container>div>h6{
    margin: 10px 0;
}

.footer-icons{
    display: flex;
    justify-content: center;
}

.footer-icons>i{
    margin: 8px 16px;
}

.copyright{
    padding: 10px;
}

/* -------------------------------------------------------- */

/* 
Sidebar - Filter section 
*/
input[type="checkbox"]{  
    position: relative;
    width: 16px;
    height: 16px;
    vertical-align: -5px;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;

    border-radius: 5px;
    margin: auto 0;
    margin-right: 10px;
}

input[type="checkbox"]:hover{
    transform: translateY(-1px);
}

input[type="checkbox"]:checked:before {
    position: absolute;
    top: 1px;
    left: 4px;
    transform: rotate(40deg);
    width: 4px;
    height: 8px;
    content: '';
}

.side-bar{ 
    width: 250px;
    padding: 20px;
}

.side-bar > div >p, .price-wrapper>p{
    white-space: nowrap;
}

.side-bar > div > p{
    margin-left: 10px;
    transform: translateY(-1px);
}

/* -------------------------------------------------------- */

/*
 Product display 
*/
.product-img{
    width: 100%;
    height: 70%;
}


.price-wrapper{
    display: flex;
    flex-wrap: nowrap;
}

.price-wrapper>p{
    margin-top: 3px;
}

.price-wrapper>input{
    width: 63px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 5px;
}

.price-wrapper>input:focus{
    all: unset;
    width: 63px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 5px;
}


.products-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-box{
    position: relative;
    width: 18%;
    min-width: 150px;
    min-height: 230px;
    padding-top: 28%;
    margin: 10px;
    border-radius: 5px;
}

.product{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
}

.product>img{
    width: 100%;
    height: 73%;
}

.product>p{
    height: 20%;
    white-space: nowrap;
    overflow: hidden;
}

.product-box:hover{
    transform: translateY(-5px);
}


.products-display>p{
    margin: 10px 0;
}

/* -------------------------------------------------------- */

/* 
product description in product pages
*/

.product-detail-wrapper{
    padding: 40px 0;
}

.description-image{
    margin: 0 auto;
}

.product-image{
    position: relative;
    width: 40vw;
    height: 40vw;
    min-width: 400px;
    min-height: 400px;
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
}

.images-option{
    display: flex;
    flex-wrap: wrap;
}

.images-option >img{
    width: 50px;
    height: 50px;
    margin: 10px 0;
    margin-right: 10px;
    border-radius: 5px;
}

.images-option >img:hover{
    transform: translateY(-2px);
}

.description-wrapper{
    width: 960px;
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.description{
    width: 400px;
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.text-description{
    padding: 5px 0;
}

.colour-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.colour{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 8px;
}

.button-quantity{
    display: flex;
    flex-wrap: nowrap;
    margin: 10px 0;
    width: 140px;
    height: 40px;
    border-radius: 10px;
}

.button-decrement{
    width: 40px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button-increment{
    width: 40px;
    height: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quantity{
    height: 40px;
    width: 60px;
}

.quantity > p{
   margin: auto;
   margin-top: 6%;
}

/* -------------------------------------------------------- */

/* 
Shopping cart elements
*/
#shop-cart>h6, .no-product-cart > h6{
    margin: 15px 0;
}

.cart-wrapper{
    margin: 0 auto;
    width: 960px;
    max-width: 90%;
}

.button__shopCart{
    margin-top: 20px;
    margin-bottom: 40px;
    width: 320px;
}

.product-ordered{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 200px;
    justify-content: space-between;
}

.product-ordered>p{
    width: 240px;
}

.product-ordered>img{
    width: 150px;
    height: 150px;
}

/* -------------------------------------------------------- */

/* 
Elements in confirmation page
*/

.confirmation>button{
    width: 300px;
}

/* -------------------------------------------------------- */

/* 
Form
*/

form{
    display: flex;
    width: 960px;
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
}

.form-wrapper{
    width: 50%;
    min-width: 370px;
    margin: 0 auto;
}

.form-wrapper > p{
    margin-top: 5px;
    padding: 0 45px;
}

.form-wrapper>input{
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 15px;
    padding: 0 13px;
}

select{
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 90%;
    height: 40px;
    margin: auto;
    border-radius: 15px;
    padding: 0 13px;
    background-image: url("../icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: 12px auto;
    background-position: right 12px center;
}

select:hover, select:focus{
    outline: none; 
}

/* div for shorter input boxes */
.form-wrapper>div{
    display: flex;
}

.form-wrapper>div>div{
    width: 50%;
}

.form-wrapper>div>div>p{
    margin-top: 5px;
    padding: 0 45px;
}

input[class="form-box-short"]{
    display: block;
    width: 80%;
    height: 40px;
    margin: auto;
    border-radius: 15px;
    padding: 0 13px;
}

.buttons-wrapper{
    display: flex;
    width: 100%;
    margin:  30px auto;
    flex-wrap: wrap;
}

.buttons-wrapper>div{
    width: 50%;
    min-width: 370px;
    margin: 0 auto;
}

.buttons-wrapper>div>button{
    display: block;
    width: 90%;
    margin: 5px auto;
}

/* -------------------------------------------------------- */

/* 
    search box and hamburger menu overlay
*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
}

.overlay-search-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 64px;
    padding: 0 5%;
    justify-content: space-between;
}

.overlay-search-container > .search,
.search-small-screen > .search{
    display: flex;
    height: 33px;
    align-items: center;
}

.overlay-search-container > .search > .search-input,
.overlay-search-container > .search>button,
.search-small-screen> .search > .search-input,
.search-small-screen > .search > button{
    height: 100%;
    margin: 0;
}

.overlay-search-container > .search > .search-input,
.search-small-screen > .search > .search-input{
    width: 60vw;
    min-width: 210px;
}

.menu-container{
    width: 80%;
    height: 100%;
}

.menu-item{
    height: 60px;
    width: 100%;
    margin: 0 auto;     
}

.menu-item>div{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.search-small-screen{
    display: none;
    width: 100%;
    height: 62px;
    margin: auto ;
    padding: 0 5%;
    justify-content: space-between;
}

.filter-icon-box{
    height: 34px;
    width: 34px;
    border-radius: 8px;   
    margin: auto 0;
}

/* 
Filter overlay elements
*/

.filter-container{
    position: absolute;
    width: 300px;
    height: 100%;
    top: 0px;
    padding: 5px 20px;
}

.filter-container > div > .icon-close{
    position: absolute;
    top: 14px;
    right: 14px;
}

/* -------------------------------------------------------- */

@media screen and (max-width : 800px){

    .container-empty{
        height: 40px;
    }

    .icon-menu, .icon-search{
        display: inline-block;
        margin: auto 10px;
    }

    .icon-login, .header-categories, .search{
        display: none;
    }

    .header-container{
        position: relative;
        height: 64px;
    }

    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: auto;
    }

    .cover{
        display: none;
    }
    .cover-mobile{
        display: block;
    }

    .footer-container{
        display: block;
    }

    .Categories_row1{
        grid-template-rows: 110px 110px;
    }

    .Categories_row2{
        grid-template-rows: 110px 110px;
    }

    .side-bar{
        display: none;
    }

    .search-small-screen{
        display: flex;
        
    }

    .product-ordered{
        position: relative;
    }

    .product-ordered > img{
        position: absolute;
        max-width: 30vw;
        max-height: 30vw;
    }

    .product-ordered > h6{
        position: absolute;
        top: 20px;
        left: 40%;
    }

    .product-ordered > p{
        position: absolute;
        max-width: 40vw;
        top: 55px;
        left: 40%;
    }

    .product-ordered > div{
        position: absolute;
        top: 120px;
        left: 40%;
    }

    .product-ordered > i{
        position: absolute;
        right: 0;
    }

}

@media screen and (max-width : 600px){
    .product-image{
        width: 80vw;
        height: 80vw;
        min-width: 100px;
        min-height: 100px;
    }

    .button__shopCart{
        width: 90vw;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width : 450px){
    
    .description{
        width: 350px;
        max-width: 90%;
    }
    
    .description-image{
        max-width: 90%;
    }

    .description-image>img{
        width: 333px;
        height: 333px;
        max-width: 80vw;
        max-height: 80vw;
        min-height: 250px;
        min-width: 250px;
    }
}